<div class="container">
  <div class="row justify-content-center">
    <h1><b>Thank you for subscribing to our newsletter!</b></h1>
  </div>
  <div class="row justify-content-center">
    <p><b>Email:</b> {{ formData.email }}</p>
  </div>
  <div class="row justify-content-center">
    <p><b>First name:</b> {{ formData.firstName | customUpperCase }}</p>
  </div>
  <div class="row justify-content-center">
    <p><b>Last name:</b> {{ formData.lastName | customUpperCase }}</p>
  </div>
  <div class="row justify-content-center">
    <p><b>Birth year:</b> {{ formData.birthYear }}</p>
  </div>
</div>

